<!DOCTYPE html>
<html>
<head>
  <title>Study Material Repository</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="container">
    <header>
      <h1>Study Material Repository</h1>
      <p>A centralized hub for study materials</p>
    </header>

    <main>
    
      <section id="upload-section">
        <h2>Upload Study Material</h2>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <div>
                <label for="title">Title:</label>
                <input type="text" name="title" id="title" required>
            </div>
            <div>
                <label for="description">Description:</label>
                <textarea name="description" id="description" required></textarea>
            </div>
            <div>
                <label for="file">File:</label>
                <input type="file" name="file" id="file" required>
            </div>
            <div>
                <input type="submit" value="Upload">
            </div>
        </form>
    </section>

      <h2>Download Study Material</h2>
      <ul id="fileList">
        {% for file in files %}
          <li><a href="{{ url_for('download', filename=file) }}">{{ file }}</a></li>
        {% endfor %}
      </ul>
    </main>
  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
